[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/m/Desktop/tixati_crash_report.dat]
row=4
col=0

[/home/m/Desktop/chrome-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=5
col=0

[/home/m/Desktop/chrome-peciednclglibgndplgjebbbhenioldc-Default.desktop]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/m]
row=3
col=0

